body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Mainly header and footer css */
header, footer, section.one {
    background-color: #1f2937;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 15px;
}

li {
    display: inline;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

footer {
    text-align: center;
    color: white;
}

/* Mainly section one css */
.container.one {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 303px;
}

.container-column{
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
}

h1{
    margin: 0;
    font: 48px bolder Arial, Helvetica, sans-serif;
    color: #F9FAF8;
}

#one {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0 0 10px 0
}

button {
    max-width: 85px;
    padding: 6px 10px;
    border: 0;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
}

div.img-placeholder{
    align-items: stretch;
    color: white;
    background-color: gray;
    flex-basis: 350px;
    align-items: stretch;
    min-height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Mainly section two css*/
h2 {
    text-align: center;
}

.container-column-two{
    display: flex;
    flex-direction: column;
    max-width: 141px;
}

.container-two{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.box-style {
    min-height: 133px;
    padding: 0;
    border: 2px solid #3882F6 ;
    border-radius: 25px;
}

.p-two {
    text-align: center;
    color: #767676;
    margin: 5px 0 38.5px 0;
}

/*Mainly section three css*/
#height{
    min-height: 303px;
}

.container-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

h3 {
    max-width: 650px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin: 0;
}

h4{
    align-self: flex-end;
    margin: 10px 0 0 0;
}